h1 {
   color: aliceblue;
}

body {
    background-image: url(/home/macami-3/Pictures/Wallpapers/2825826\ \(copy\).gif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 1800px;
    text-align: center;
    font-family: "Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.pos1{
    position: absolute;
    right: 5px;
}
.img1{
    width: 400px;
    height: 400px;
}
.pos12{
    position: absolute;

}
.box1{
    background-color: aqua;
    height: 50px;
    width: 50px;
    position: sticky;
    top: 100px;
}