h1 {
    background-color: #ffffff;
    color: rgb(86, 107, 201);
    text-align: center;
}

body {
    background-image: url(img/_uhdanimals863 (another copy).jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 1800px;
    text-align: center;
    font-family: "Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

  }table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f9f9f9;
  }
  
  caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }